
/* selector universal o global o de todo */
*{
    list-style: none;
    text-decoration: none;
    
    font-size: 1rem;
    font-weight: 400;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: "Tilt Neon", sans-serif;
    
    padding: unset;
    margin:unset ;
    /* border:solid 2px  red ; */
    
    /* proxima clase */
    box-sizing: border-box;
    }

    .navbar {
        /* position: fixed; */
        /* position: absolute;  */
        z-index: 100;
        width: 100%;
        padding: 10px 30px;
        color: brown;
        background-color: transparent;
        box-sizing: border-box;
        background-color: #363636;
        
    }
    
    .navbar h1 {
        font-weight: bold;
        text-decoration: line-through;
    }
    
    .navbar__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
     }

     .navbar__nav h1 {
        font-size: 3rem;
     }

     /* .main {
        display: flex;
     } */

       .reproductor {
        display: flex;
       flex-direction: unset;
       height: 100%;
       justify-content: center;
       gap: 20px;
       background-color: #363636;
       
    } 

.reproductor__buscador {

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 180px;
    padding: 40px;

    background-image: url(/ASSETS/pexels-koolshooters-.jpg);
    background-size: 100%;
    background-position: 0% 60%;
    height: 850px;
    margin: 20px;
    border-radius: 20px;
}

.reproductor__buscador img {
    height: 300px;
}

.reproductor__buscador h2 {
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
    
}

.reproductor__lista{
display: flex;
flex-direction: column;
gap: 8px;
margin: 20px;
}


.lista__resultado {
    background-color: #585858;
    margin: 10px 90px;
    display: flex;
    padding: 5px;
    color: #9e9ea7;
    border-radius: 10px;
}
.lista__resultado p {
    font-size: 1.3rem;
}

.reproductor__lista__lista{
    background-color: #8d0000;
    padding: 10px;
    border-radius: 20px;
    
    display: flex;
    flex-direction: column;
    /* height: 100px; */
} 

 .reproductor__lista__lista img 
    /* height: 100%; } */


.reproductor__lista__lista > .div {

    background-image: linear-gradient(45deg, #585858, #00000000);
}

.current-song {
    background-image: url(/ASSETS/pexels-koolshooters-.jpg);
    background-size: 100%;
    background-position: 0% 60%;
    height: 150px;
}


.div { 
    color: #fff;
    display: flex;
    /* background-image: linear-gradient(0deg, #727171, #00000000); */
    margin: 10px 30px;
    border-radius: 15px;
    padding: 10px;
}

.div div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
}

.div img {
    margin: 5px;
} */


.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
   }
   
   .input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #363636;
    color: #0d0c22;
    transition: .3s ease;
   }
   
   .input::placeholder {
    color: #9e9ea7;
   }
   
   .input:focus, input:hover {
    outline: none;
    border-color: rgba(234,76,137,0.4);
    background-color: #757474;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
   }
   
   .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
   }
   